<nav>
    <% if user_signed_in? %>
    <%= link_to "Drinks", drinks_path  %> |
    <%= link_to "My Drinks", current_user_drinks_drinks_path %> |
    <%= link_to "My Orders", current_user_drinks_order_drinks_path %> |
    <%= link_to "New Drink", new_drink_path  %> |
    <%= link_to "New Order", new_drink_order_path  %> |

    <%= form_tag(destroy_user_session_path, method: :delete, style: "display: inline-block") do %>

    <%=submit_tag "Sign out" %>
    <% end %>
    <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>

    <% end %>
</nav>