<h3> My Orders</h3>
<% @orders.each do |order|%>
<li><%= order.drink.name %>
<%= order.quantity %>
<%= order.special_instructions %>
<% end %></li>
<%= link_to "Back", new_drink_order_path %>|
<%= link_to "Drink Menu", drinks_path %>|
