<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>
<p>
  <strong>Ingredients:</strong>
  <%= @drink.ingredients %>
</p>
<p>
  <strong>Price:</strong>
  <%= @drink.price %>
</p><br>

<%= link_to "Back", drinks_path %>|

<%= link_to "Order Drink", new_drink_drink_order_path(@drink) %>|
