<h1>Order Information</h1>
<%= @order.drink.name %>
<%= @order.quantity %>
<%= @order.special_instructions %>
<%= link_to "Edit Order", edit_drink_order_path(@order) %>
<%= form_tag(drink_order_path(@order), method: :delete, style: 'display: inline-block;') do %>
    <%= submit_tag "Delete Order" %>
<% end %>

